<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Our Form</h1>
<form action="/process", method="POST">
    <label for="first"></label>
    <input type="text" name="fname", id="first" placeholder="Enter your first name">

    <label for="last"></label>
    <input type="text" name="lname", id="last" placeholder="Enter your last name">

    <input type="submit">
</form>
</body>
</html>